In [2]:
# Tugas Personal 1 - Data Science
import pandas as pd

# Mengambil data karyawan melalui file .csv
data = pd.read_csv("data_karyawan.csv", index_col=0)
df = pd.DataFrame(data)

# Menentukan jabatan berdasarkan gaji
jabatan = []
for gaji in df['Gaji']:
    if 8000000 <= gaji <= 9000000:
        jabatan.append("Officer")
    elif 10000000 <= gaji <= 11000000:
        jabatan.append("Supervisor")
    elif 12000000 <= gaji <= 14000000:
        jabatan.append("Asisten Manajer")
    else:
        jabatan.append("Manager")

df['Jabatan'] = jabatan

# Mengurutkan gaji terbesar ke gaji terkecil
df = df.sort_values(by='Gaji', ascending=False)

# Menampilkan seluruh data table
df

   Jenis_Kelamin  UmurKaryawan      Gaji       Transportasi          Jabatan
No
7      Perempuan            32  15000000     Kendaraan umum          Manager
2      Laki-Laki            35  14000000     Kendaraan umum  Asisten Manajer
4      Perempuan            27  12000000  Kendaraan pribadi  Asisten Manajer
6      Laki-Laki            22  11000000  Kendaraan pribadi       Supervisor
3      Perempuan            26  10000000     Kendaraan umum       Supervisor
10     Perempuan            20  10000000  Kendaraan pribadi       Supervisor
5      Laki-Laki            21   9000000  Kendaraan pribadi          Officer
9      Laki-Laki            25   9000000     Kendaraan umum          Officer
1      Laki-Laki            20   8000000  Kendaraan pribadi          Officer
8      Perempuan            26   8000000     Kendaraan umum          Officer